In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [141]:
df = pd.read_csv('titanic3.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [142]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [143]:
from pandas.plotting import scatter_matrix
scatter_matrix(attributes, figsize=(12, 8))

NameError: name 'attributes' is not defined

In [144]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [145]:
df.shape

(1310, 14)

In [146]:
df_ml = df.drop(['body', 'home.dest', 'boat', 'name', 'cabin', 'ticket'], axis=1)

In [147]:
df_ml[['sex', 'embarked']] = df_ml[['sex', 'embarked']].fillna('n/a')

In [148]:
df_ml.head(10)

   pclass  survived     sex      age  sibsp  parch      fare embarked
0     1.0       1.0  female  29.0000    0.0    0.0  211.3375        S
1     1.0       1.0    male   0.9167    1.0    2.0  151.5500        S
2     1.0       0.0  female   2.0000    1.0    2.0  151.5500        S
3     1.0       0.0    male  30.0000    1.0    2.0  151.5500        S
4     1.0       0.0  female  25.0000    1.0    2.0  151.5500        S
5     1.0       1.0    male  48.0000    0.0    0.0   26.5500        S
6     1.0       1.0  female  63.0000    1.0    0.0   77.9583        S
7     1.0       0.0    male  39.0000    0.0    0.0    0.0000        S
8     1.0       1.0  female  53.0000    2.0    0.0   51.4792        S
9     1.0       0.0    male  71.0000    0.0    0.0   49.5042        C

In [149]:
cat_to_int = pd.get_dummies(df_ml[['sex', 'embarked']])
cat_to_int = cat_to_int.drop(['sex_n/a', 'embarked_n/a'], axis=1)
cat_to_int
#onehot = OneHotEncoder(dtype=np.int, sparse=False)
#cat_to_int = pd.DataFrame(onehot.fit_transform(df[['sex', 'embarked']]),
#columns=['F', 'M', 'S', 'C', 'Q'])
df_ml = pd.concat([df_ml, cat_to_int], axis=1).drop(['sex', 'embarked'], axis=1)
df_ml.shape

(1310, 11)

In [153]:
df_ml.dropna(axis=0,how='all')
df_ml['survived'].dropna()

array(['pclass', 'survived', 'age', 'sibsp', 'parch', 'fare',
       'sex_female', 'sex_male', 'embarked_C', 'embarked_Q', 'embarked_S'],
      dtype=object)

In [154]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
df_ml_i = imp.fit_transform(df_ml)
df_ml_i = pd.DataFrame(df_ml_i, columns=df_ml.columns.values)

In [155]:

X = df_ml_i.drop('survived', axis=1)
y = df_ml_i['survived']
X

,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,1.000000,29.000000,0.000000,0.000000,211.337500,1.0,0.0,0.0,0.0,1.0
1,1.000000,0.916700,1.000000,2.000000,151.550000,0.0,1.0,0.0,0.0,1.0
2,1.000000,2.000000,1.000000,2.000000,151.550000,1.0,0.0,0.0,0.0,1.0
3,1.000000,30.000000,1.000000,2.000000,151.550000,0.0,1.0,0.0,0.0,1.0
4,1.000000,25.000000,1.000000,2.000000,151.550000,1.0,0.0,0.0,0.0,1.0
5,1.000000,48.000000,0.000000,0.000000,26.550000,0.0,1.0,0.0,0.0,1.0
6,1.000000,63.000000,1.000000,0.000000,77.958300,1.0,0.0,0.0,0.0,1.0
7,1.000000,39.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0
8,1.000000,53.000000,2.000000,0.000000,51.479200,1.0,0.0,0.0,0.0,1.0
9,1.000000,71.000000,0.000000,0.000000,49.504200,0.0,1.0,1.0,0.0,0.0
10,1.000000,47.000000,1.000000,0.000000,227.525000,0.0,1.0,1.0,0.0,0.0
11,1.000000,18.000000,1.000000,0.000000,227.525000,1.0,0.0,1.0,0.0,0.0
12,1.000000,24.000000,0.000000,0.000000,69.300000,1.0,0.0,1.0,0.0,0.0
13,1.000000,26.000000,0.000000,0.000000,78.850000,1.0,0.0,0.0,0.0,1.0
14,1.000000,80.000000,0.000000,0.000000,30.000000,0.0,1.0,0.0,0.0,1.0
15,1.000000,29.881135,0.000000,0.000000,25.925000,0.0,1.0,0.0,0.0,1.0
16,1.000000,24.000000,0.000000,1.000000,247.520800,0.0,1.0,1.0,0.0,0.0
17,1.000000,50.000000,0.000000,1.000000,247.520800,1.0,0.0,1.0,0.0,0.0
18,1.000000,32.000000,0.000000,0.000000,76.291700,1.0,0.0,1.0,0.0,0.0
19,1.000000,36.000000,0.000000,0.000000,75.241700,0.0,1.0,1.0,0.0,0.0
20,1.000000,37.000000,1.000000,1.000000,52.554200,0.0,1.0,0.0,0.0,1.0
21,1.000000,47.000000,1.000000,1.000000,52.554200,1.0,0.0,0.0,0.0,1.0
22,1.000000,26.000000,0.000000,0.000000,30.000000,0.0,1.0,1.0,0.0,0.0
23,1.000000,42.000000,0.000000,0.000000,227.525000,1.0,0.0,1.0,0.0,0.0
24,1.000000,29.000000,0.000000,0.000000,221.779200,1.0,0.0,0.0,0.0,1.0
25,1.000000,25.000000,0.000000,0.000000,26.000000,0.0,1.0,1.0,0.0,0.0
26,1.000000,25.000000,1.000000,0.000000,91.079200,0.0,1.0,1.0,0.0,0.0
27,1.000000,19.000000,1.000000,0.000000,91.079200,1.0,0.0,1.0,0.0,0.0
28,1.000000,35.000000,0.000000,0.000000,135.633300,1.0,0.0,0.0,0.0,1.0
29,1.000000,28.000000,0.000000,0.000000,26.550000,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1280,3.000000,22.000000,0.000000,0.000000,7.895800,0.0,1.0,0.0,0.0,1.0
1281,3.000000,22.000000,0.000000,0.000000,9.000000,0.0,1.0,0.0,0.0,1.0
1282,3.000000,29.881135,0.000000,0.000000,8.050000,0.0,1.0,0.0,0.0,1.0
1283,3.000000,29.881135,0.000000,0.000000,7.550000,0.0,1.0,0.0,0.0,1.0
1284,3.000000,29.881135,0.000000,0.000000,8.050000,0.0,1.0,0.0,0.0,1.0
1285,3.000000,32.500000,0.000000,0.000000,9.500000,0.0,1.0,0.0,0.0,1.0
1286,3.000000,38.000000,0.000000,0.000000,7.229200,1.0,0.0,1.0,0.0,0.0
1287,3.000000,51.000000,0.000000,0.000000,7.750000,0.0,1.0,0.0,0.0,1.0
1288,3.000000,18.000000,1.000000,0.000000,6.495800,0.0,1.0,0.0,0.0,1.0
1289,3.000000,21.000000,1.000000,0.000000,6.495800,0.0,1.0,0.0,0.0,1.0
1290,3.000000,47.000000,1.000000,0.000000,7.000000,1.0,0.0,0.0,0.0,1.0
1291,3.000000,29.881135,0.000000,0.000000,8.712500,0.0,1.0,0.0,0.0,1.0
1292,3.000000,29.881135,0.000000,0.000000,7.550000,0.0,1.0,0.0,0.0,1.0
1293,3.000000,29.881135,0.000000,0.000000,8.050000,0.0,1.0,0.0,0.0,1.0
1294,3.000000,28.500000,0.000000,0.000000,16.100000,0.0,1.0,0.0,0.0,1.0
1295,3.000000,21.000000,0.000000,0.000000,7.250000,0.0,1.0,0.0,0.0,1.0
1296,3.000000,27.000000,0.000000,0.000000,8.662500,0.0,1.0,0.0,0.0,1.0
1297,3.000000,29.881135,0.000000,0.000000,7.250000,0.0,1.0,0.0,0.0,1.0
1298,3.000000,36.000000,0.000000,0.000000,9.500000,0.0,1.0,0.0,0.0,1.0
1299,3.000000,27.000000,1.000000,0.000000,14.454200,0.0,1.0,1.0,0.0,0.0
1300,3.000000,15.000000,1.000000,0.000000,14.454200,1.0,0.0,1.0,0.0,0.0
1301,3.000000,45.500000,0.000000,0.000000,7.225000,0.0,1.0,1.0,0.0,0.0
1302,3.000000,29.881135,0.000000,0.000000,7.225000,0.0,1.0,1.0,0.0,0.0
1303,3.000000,29.881135,0.000000,0.000000,14.458300,0.0,1.0,1.0,0.0,0.0
1304,3.000000,14.500000,1.000000,0.000000,14.454200,1.0,0.0,1.0,0.0,0.0
1305,3.000000,29.881135,1.000000,0.000000,14.454200,1.0,0.0,1.0,0.0,0.0
1306,3.000000,26.500000,0.000000,0.000000,7.225000,0.0,1.0,1.0,0.0,0.0
1307,3.000000,27.000000,0.000000,0.000000,7.225000,0.0,1.0,1.0,0.0,0.0
1308,3.000000,29.000000,0.000000,0.000000,7.875000,0.0,1.0,0.0,0.0,1.0
1309,2.294882,29.881135,0.498854,0.385027,33.295479,0.0,0.0,0.0,0.0,0.0

In [156]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [157]:
lin_reg = LinearRegression().fit(X_train, y_train)
lin_reg.score(X_test, y_test)

0.3822103517282678